$sm: 600px;
$md: 900px;
$lg: 1200px;
$xl: 1536px;

#root {
  height: 100%;
  display: flex;
  flex-direction: column;
}

.homePage {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
  color: whitesmoke;
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url("/src/assets/nathan-da-silva-oFkRO55PUmo-unsplash.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 10%;
  // background-position: 50% 20%;
  opacity: 0.95;

  .name {
    font-size: 2.5rem;
    margin-bottom: 1rem;
  }
  .motto {
    font-size: 1.5rem;
    margin-bottom: 2rem;
  }
}

.introductionPage {
}
